{% extends 'base.html' %}
{% load humanize %}
{% load lr_filters %}

{% block conteudo %}

<!-- CONTENT -->
<div class="card-columns mt-4">
    <!-- FOR LOOP -->
    {% for pub in publicacoes %}
    <div class="card">

        {% if pub.imagem_post%}
        <a href="{% url 'post_detalhes' pub.id %}">
            <img class="card-img-top"
                 src="{{ pub.imagem_post.url }}"
                 alt="{{ pub.titulo_post}}">
        </a>
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'post_detalhes' pub.id %}">
                    {{ pub.titulo_post}}
                </a>
            </h5>
            <p class="card-text">
                {{ pub.excerto_post}}
            </p>
            <p class="card-text">
                <small class="text-muted">
                    {{ pub.data_post|naturalday|title }} |
                    {{ pub.numero_comentarios|plural_comentarios }} |
                    {{ pub.categoria_post }}
                </small>
            </p>

            <div class="text-right">
                <a href="{% url 'post_detalhes' pub.id %}" class="btn btn-outline-secondary">Ler mais...</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--/FOR LOOP-->
</div>
<!--/CONTENT-->
{% include 'parciais/_pagination.html' %}

{% endblock %}