# Diretórios ignorados
.idea/

blog/__pycache__/
virtual-env/

# app publicacoes
publicacoes/__pycache__/
publicacoes/migrations/
publicacoes/templatetags/__pycache__/

# super user login and password
super_usuario.txt

# database
db.sqlite3


# App Categorias
categorias/__pycache__/
categorias/migrations/

# App Comentários
comentarios/__pycache__/
comentarios/migrations/

